.login__container {
  width: 100%;
  border: 1px solid red;
  display: flex;
  align-items: center;
}

.login__inputs {
  width: 50%;
}

.login__inputs > div {
  width: 60%;
  margin: 0 auto;
}

.login__inputs form div {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  color: var(--primary-color);
}

label {
  font-weight: 500;
  font-size: 18px;
  font-family: Poppins;
  margin-bottom: 10px;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 15px;
  border: 1px solid #fe1a10;
  background: #fff;
}

.login__banner {
  width: 50%;
  height: 100vh;
  background-color: var(--primary-color);
  display: grid;
  place-items: center;
}

.login__banner h1 {
  /* font-family: "Prompt", sans-serif; */
  color: #fff;
  text-align: center;
  font-size: 100px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.login__btn {
  width: 130px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: var(--primary-color);
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  
}

p {
  text-align: center;
  margin: 20px 0;
}

.google__btn {
  width: 100%;
  color: var(--primary-color);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color:#fff;
  border: 2px solid var(--primary-color);
  padding: 10px 16px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}
