.logo {
  width: 80px;
}

.signup__container {
  width: 100%;
}

.signup__header {
  padding: 10px;
}

.signup__container .form__container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.signup__container .form__container h1 {
  font-family: "Poppins";
  color: var(--dark-color);
}

.form__container img {
  width: 500px;
  display: block;
}

.form__container h1 {
  font-size: 24px;
}

.form__container form div {
  display: flex;
  flex-direction: column;
}

.form__container label {
  font-weight: 500;
  font-size: 14px;
  font-family: Poppins;
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--dark-color);
}

.form__container input {
  padding: 12px;
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
}

.signup__btn {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  padding: 8px 20px;
}

#signup__helper__text {
  font-size: 16px;
  cursor: pointer;
  color: var(--dark-color);
  background-color: transparent;
  border: none;
  font-family: "Poppins";
}

#signup__helper__text span {
  color: var(--primary-color);
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .login__container {
    width: 60%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }
  .login__banner {
    display: none;
  }

  .login__inputs {
    width: 100%;
  }

  .login__inputs > div {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .login__container {
    width: 90%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }
  .login__banner {
    display: none;
  }

  .login__inputs {
    width: 100%;
  }

  .login__inputs > div {
    width: 100%;
  }
}
