.banner {
  width: 90%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 217, 217, 42%);
}
.category__image {
  width: 600px;
}

.title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 53px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.offers {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.offer {
  /* border: 1px solid blue; */
  padding: 20px 20px;
}

.offer__product__image {
  height: 120px;
  width: auto;
  margin: 0 auto;
}

.offer__title {
  text-align: center;
  margin: 5px 0;
  font-size: 16px;
  color: #000000bc;
}

.offer__desc {
  font-size: 12px;
  color: #000000bc;
}

.category__images {
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  outline-offset: 10px;
  outline: 2px solid gainsboro;
}

.banner__container {
  position: relative;
}

.banner__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /** Adjust opacity for the dim effect */
}

.banner__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  font-size: 130px;
  font-weight: 700;
  opacity: 0.8;
  font-family: "Bebas Neue", sans-serif;
}

.banner__subtitle {
  position: absolute;
  top: calc(50% + 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  font-size: 36px;
  opacity: 0.8;
  font-family: "Bebas Neue", sans-serif;
}
