@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fe1a10;
  --dark-color: #2f4858;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-family: "Rampart One", sans-serif;
  font-size: 30px;
}

p {
  font-family: "Poppins", sans-serif;
}

a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

button {
  cursor: pointer;
}
